.bl-new-article {
    font-family: "Inter";
    position: relative;
    margin: 34px auto;
    width: 938px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
      0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
      0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
    border-radius: 6px;
  
    & label {
      display: block;
    }
  
    .title {
      display: block;
      margin: 48px 0 21px 0;
      font-weight: 600;
    }
  
    .form {

      input:-webkit-autofill {
        box-shadow: 0 0 0 30px white inset !important;
      }
  
      .input-field {
        margin-bottom: 21px;
        font-family: inherit;
        color: #262626;
        box-sizing: border-box;
      }
  
      .input-field > div {
        text-align: start;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 2px;
        margin-left: 32px;
      }
  
      .input-field > input {
        outline: none;
        background-image: none !important;
        border: 1px solid #d9d9d9;
        background-color: white !important;
        box-sizing: border-box;
        text-indent: 10px;
        border-radius: 4px;
        width: 874px;
        height: 40px;
      }

      textarea {
        outline: none;
        width: 874px;
        border: 1px solid #D9D9D9;
        box-sizing: border-box;
        border-radius: 4px;
        resize: none;
        text-indent: 10px;
        height: 168px;

        &:focus {
            border: 1px solid #D9D9D9 !important; 
        }
      }

      .input-create {
        text-align: start;
        margin: 21px 0 48px 32px;
    
        & > input {
          width: 319px;
          height: 40px;
          background: #1890ff;
          border-radius: 4px;
          border: #1890ff;
          font-size: 16px;
          line-height: 24px;
          color: white;
          cursor: pointer;
        }
      }
  
      .warning-text {
        margin: 2px 0px;
        line-height: 22px;
        font-size: 14px !important;
        color: #f5222d;
        letter-spacing: -0.5px;
        
      }
  
      .input-field .warning-border {
        border: 1px solid #f5222d;
      }

      .input-tags {
        margin-bottom: 21px;
        font-family: inherit;
        color: #262626;
        box-sizing: border-box;

        & > div {
          text-align: start;
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 2px;
          margin-left: 32px;
        }
        .bl-tag {
          display: flex;
          flex-direction: row;
          margin-bottom: 5px;
        }

         .tag-delete, .tag-add {
          margin-left: 20px;
        }

        .bl-tag > input {
          outline: none;
          background-image: none !important;
          border: 1px solid #d9d9d9;
          background-color: white !important;
          box-sizing: border-box;
          text-indent: 10px;
          border-radius: 4px;
          width: 300px;
          height: 40px;
        }

        .tag-delete {
          width: 136px;
          height: 40px;
          border: 1px solid #F5222D;
          box-sizing: border-box;
          border-radius: 4px;
          color: #F5222D;
          text-align: center;

        }

        .tag-add {
          width: 136px;
          height: 40px;
          border: 1px solid #1890FF;
          box-sizing: border-box;
          border-radius: 4px;
          color: #1890FF;
          text-align: center;
        }

        .tag-add, .tag-delete > span {
          display: block;
          line-height: 40px;
        }


      }
    }
}

.spinnerContainer > div {
  align-items: center;
  width: 100%;
  margin: 200px auto;
}