.bl-full-article {

    box-sizing: border-box;
    margin: 0 auto;

    .button {
        position: relative;
        display: flex;
        flex-direction: row;

        & > div:first-child {
            text-align: center;
            width: 78px;
            height: 31.1px;
            border: 1px solid #F5222D;
            box-sizing: border-box;
            border-radius: 5px;
            color: #F5222D;
            cursor: pointer;

            & > span {
                width: inherit;
                display: block;
                font-size: 14px;
                line-height: 31px;
            }
        }


        & > div:last-child {
            margin-left: 12px;
            text-align: center;
            width: 65.23px;
            height: 31.1px;
            border: 1px solid #52C41A;
            box-sizing: border-box;
            border-radius: 5px;
            color: #52C41A;
            cursor: pointer;

            & > span {
                display: block;
                font-size: 14px;
                line-height: 31px;
            }
        } 
    }



    .modal-warning-text {
        width: 184px;
        margin: 0 0 0 27px;

        &::before {
            content: "";
            width: 14px;
            height: 14px;
            position: absolute;
            top: 16px;
            left: 17px;
            display: block;
            background: url("https://clipart-best.com/img/exclamation-mark/exclamation-mark-clip-art-50.png") no-repeat 0 0;
            background-size: 14px 14px;
        }
    }

    .modal-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 12px;

        & > div:first-child {
            cursor: pointer;
            width: 34px;
            height: 24px;
            border: 1px solid #D9D9D9;
            box-sizing: border-box;
            border-radius: 4px;
            text-align: center;
            

            & > span {
                display: block;
                font-size: 14px;
                line-height: 24px;
            }
        }

        & > div:last-child {
            cursor: pointer;
            margin-left: 8px;
            width: 39px;
            height: 24px;
            border: 1px solid #D9D9D9;
            background: #1890FF;
            box-sizing: border-box;
            border-radius: 4px;
            text-align: center;

            & > span {
                color: #FFFFFF;
                display: block;
                font-size: 14px;
                line-height: 24px;
            }
        }

    }
}